*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.nav-box{
    width: 85%;
    max-width: 1360px;
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    margin-right: 16px;
}
.btn{
    background-color: #469165;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 13px 16px;
    border: none;
}
.banner-button{
    align-items: center;
}
#banner{
    background-image: url(assets/hero-bg.png);
    padding: 116px 120px 179px 120px;
}
.banner-content{
    padding: 0px 295px;
    align-items: center;
    text-align: center;
}
.banner-content .curvy-button{
    border-radius: 1000px;
    background-color: white;
    padding: 8px 12px;
    border: none;
    color: #469165;
    font-size: 16px;
    margin-bottom: 16px;
}
 .color-white{
    color: white;
    font-size: 70px;
}
.color-green{
    color:#30B868;
    font-size: 70px;
}
.banner-content p{
    margin-top: 16px;
    font-size: 18px;
    line-height: 24px;
    color: white;
}
.banner-button button{
    margin-top: 32px;
    margin-right: 16px;
}
.btn-2{
    background-color: transparent;
    padding: 13px 16px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.header{
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.header h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.header p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.card{
    width: 85%;
    max-width: 1360px;
    margin: 44px auto 0px auto;
    display: flex;
    justify-content: space-between;
}
.card-box{
    width: 322px;
    padding: 70px 24px 22px 24px;
    border-radius: 8px;
    text-align: center;
    margin-right: 24px;
    box-shadow: 0 0 8px 0 #00000016;
}
.card-box h3{
    font-size: 24px;
    font-weight: 500;
    color: #001931;
    margin-bottom: 16px;
}
.card-box p{
font-size: 16px;
line-height: 20px;
color: #627382;
}
.card-box img{
    background-color: #F95555;
    padding: 15px 15px;
    border-radius: 500px;
    margin-bottom: 16px;
}
#second-brain{
    width: 85%;
    max-width: 1360px;
    padding: 120px 120px;
    
}
.sec-brain{
    display: flex;
    gap: 60px;
}
.sec-brain-content{
    align-content: center;
    flex: 0 0 500px;
    padding: 102px 0px;
}
.sec-brain-content h5{
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: #469165;
}
.sec-brain-content h1{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.sec-brain-content p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.feature{
    display: flex;
}
.feature img{
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
.feature p{
    font-size: 16px;
    font-weight: 500;
    color: #001931;
    line-height: 20px;
    margin-bottom: 16px;
}
#last-section{
    width: 85%;
    max-width: 1360px;
    margin: 0px 120px 120px;
    background-color: #F7F6F2;
    border-radius: 12px;
}
.access-box{
padding: 80px 0px;
text-align: center;
}
.access-box h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.access-box p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}
.access-box button{
    margin-top: 24px;
    margin-bottom: 16px;
}
footer{
    width: 100%;
    max-width: 1600px;
    background-color: #001931;
    padding: 120px 120px 30px 120px;
}
.social h5{
    font-size: 26px;
    line-height: 28px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 16px;
}
.social .icon{
    display: flex;
}
.social i{
    color: #ffffff;
    margin-right: 16px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
footer .copy p{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    margin-top: 30px;
}
footer .copy hr{
    opacity: 20%;
    color: #E5E7EB;
}
.hide{
    display: none !important;
}
@media screen and (max-width:576px) {
    #second-brain {
    width: 100%;
    padding: 40px 20px 0px 20px;
}
.sec-brain {
    flex-direction: column;
    gap: 0px;
}
.sec-brain-image img{
 width: 100%;
}
.sec-brain-content h1 {
    font-size: 32px;
    color: #001931;
    margin-bottom: 16px;
}
.sec-brain-content{
    padding: 40px 20px;
}
.feature p{
    font-size: 14px;
    margin-bottom: 10px;
}
#last-section {
    width: 100%;
    margin: 0px;
}
.header {
    margin: 50px 20px;
}
.card {
    width: 100%;
    margin: 44px 0px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.card-box {
    width: 75%;
    padding: 50px 0px;
    margin-right: 0px;
}
.access-box{
    padding: 60px 20px;
}
footer {
    padding: 60px 30px 30px 30px ;
}
.social h5{
    font-size: 16px;
    margin-bottom: 8px;
}
.social .icon a i{
    width: 70%;
}
.footer .logo img{
    width: 75%;
}
    footer .copy p {
    font-size: 10px;
    margin-top: 20px;
}
.nav-image img{
    width: 85%;
}
.nav-box {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 20px;
}
.nav-link {
    display: flex;
    white-space: nowrap;
}
.nav-link a{
    font-size: 12px;
}
.button .btn {
    font-size: 12px;
    padding: 11px 14px;
}
#banner {
    background-image: url(assets/hero-bg.png);
    width: 100%;
    padding: 20px 20px;
    background-repeat: no-repeat;
}
.banner-content {
    padding: 10px 10px;
    align-items: center;
    text-align: center;
}
.color-white {
    color: white;
    font-size: 40px;
}
.color-green {
    color: #30B868;
    font-size: 40px;
}
.banner-content p{
    font-size: 14px;
}
.banner-content .curvy-button{
    padding: 6px 9px;
    font-size: 14px;
}
.banner-button .btn {
    font-size: 14px;
}
.btn-2{
    font-size: 14px;
}
.banner-button{
    display: flex;
    flex-direction: column;
    
}
}




