*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.nav-box{
    width: 85%;
    max-width: 1360px;
    margin: 34px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    margin-right: 16px;
}
.btn{
    background-color: #469165;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 13px 16px;
    border: none;
}
#banner{
    background-image: url(assets/hero-bg.png);
    padding: 116px 120px 179px 120px;
}
.banner-content{
    padding: 0px 295px;
    align-items: center;
    text-align: center;
}
.banner-content .curvy-button{
    border-radius: 1000px;
    background-color: white;
    padding: 8px 12px;
    border: none;
    color: #469165;
    font-size: 16px;
    margin-bottom: 16px;
}
 .color-white{
    color: white;
    font-size: 70px;
}
.color-green{
    color:#30B868;
    font-size: 70px;
}
.banner-content p{
    margin-top: 16px;
    font-size: 18px;
    line-height: 24px;
    color: white;
}
.banner-button button{
    margin-top: 32px;
    margin-right: 16px;
}
.btn-2{
    background-color: transparent;
    padding: 13px 16px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.header{
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.header h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.header p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.card{
    width: 85%;
    max-width: 1360px;
    margin: 44px auto;
    display: flex;
    justify-content: space-between;
}
.card-box{
    width: 322px;
    padding: 70px 24px 22px 24px;
    text-align: center;
    margin-right: 24px;
    box-shadow: 0 0 8px 0 #00000016;
}
.card-box h3{
    font-size: 24px;
    font-weight: 500;
    color: #001931;
    margin-bottom: 16px;
}
.card-box p{
font-size: 16px;
line-height: 20px;
color: #627382;
}
.card-box img{
    background-color: #F95555;
    padding: 15px 15px;
    border-radius: 500px;
    margin-bottom: 16px;
}


